.c-article {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  &__text {
    text-align: left;
    max-height: fit-content;
    width: 55%;
  }

  &__figure {
    display: flex;
    max-height: 42.5vh;
    position: relative;
    text-align: center;
    width: 35%;
  }

  &__image {
    height: auto;
    object-fit: contain;
    object-position: right;
    width: 100%;
  }
}

@media only screen and (max-width: 50em) {
  .c-article {
    flex-direction: column;

    &__text {
      margin-bottom: 3rem;
      width: 75%;
    }
    &__figure {
      width: 75%;
    }

    &__image {
      object-position: center;
    }
  }
}

@media only screen and (max-width: 35em) {
  .c-article {
    &__text {
      width: 100%;
    }
    &__figure {
      width: 100%;
    }
  }
}
