.c-button {
  background-color: rgb(55, 150, 167);
  color: white;
  font-size: 0.9125rem;
  padding: 0.25rem 4rem;
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    transform: scale(0.9);
  }
}
