.c-cards {
  width: 100%;

  &__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &__tile {
    margin: 2rem 0;
    max-width: 30%;
    min-width: 27.5%;
  }

  &__figure {
    display: flex;
    height: 12.5em;
    min-height: 10em;
    position: relative;
  }

  &__image {
    height: auto;
    object-fit: cover;
    opacity: 0.6;
    width: 100%;
  }

  &__content {
    background-color: rgb(55, 150, 167);
    padding: 1rem;
  }
}
