.c-nav {
  background-color: rgb(31, 69, 77);
  display: flex;
  width: 100%;

  &__content {
    display: flex;
    padding: 1rem 0;
    justify-content: flex-end;
  }

  &__items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  &__item {
    font-weight: 400;
    padding: 0 1rem;
    & a {
      &:hover {
        color: black;
      }
      color: white;
      font-size: 1rem;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 30em) {
  .c-nav {
    &__content {
      justify-content: center;
    }

    &__item {
      & a {
        font-size: 0.8125em;
      }
    }
  }
}
